@page "/Dogs"
@namespace EAD1_CA_3_X00149830
@inject HttpClient Http


<div class="container-fluid text-center">
    <img src="@dogImageURL" alt="@dogType" width="500" height="600">
    <h3>@dogType</h3>

    <input placeholder="Dog Breed" @bind="dogBreed" />

    <button class="btn btn-primary" @onclick="Search">Search</button>
    <button class="btn btn-primary" @onclick="FetchRandomDogImg">Random Dog</button>
</div>


<div class="container-fluid text-center">
    <h3>Previously Seen Dogs </h3>
    @if (seenDogbreeds == null)
    {
        <p><em>Loading data...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Dog Breed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var breed in seenDogbreeds)
                {
                    <tr>
                        <td>@breed</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {



    private Root data;


    private string errorEmptySearchURL = "images/emptyDogBowl.jpg";
    private string dogType = "";
    private string dogImageURL;
    private string imageURL = "https://dog.ceo/api/breeds/image/random";


    private List<string> seenDogbreeds = new List<string>();

    private string dogBreed;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            data = await Http.GetFromJsonAsync<Root>(imageURL);
            dogImageURL = data.Message;

            dogType = data.ExtractDogType(dogImageURL);

            dogType = data.FormatDogType(dogType);

            AddDogBreedToList();

        }
        catch (Exception e)
        {

            Console.WriteLine(e.StackTrace);
        }

    }

    protected async void GetDogData()
    {
        try
        {

            data = await Http.GetFromJsonAsync<Root>(imageURL);

            dogImageURL = data.Message;

            dogType = data.ExtractDogType(dogImageURL);

            dogType = data.FormatDogType(dogType);

            AddDogBreedToList();

        }
        catch (Exception e)
        {
            Console.WriteLine(e.StackTrace);
        }

        StateHasChanged();

    }

    private void FetchRandomDogImg()
    {
        imageURL = "https://dog.ceo/api/breeds/image/random";
        GetDogData();

        dogImageURL = data.Message;

        dogType = data.ExtractDogType(dogImageURL);

        dogType = data.FormatDogType(dogType);

        AddDogBreedToList();

        //clears search box when the random buttom is clicked
        dogBreed = "";

    }

    private void Search()
    {

        try
        {
            if (!System.String.IsNullOrWhiteSpace(dogBreed))
            {
                dogBreed = dogBreed.ToLower();

                imageURL = string.Format("https://dog.ceo/api/breed/{0}/images/random", dogBreed);
                GetDogData();
                dogImageURL = data.Message;

                dogType = data.ExtractDogType(dogImageURL);

                dogType = data.FormatDogType(dogType);

                AddDogBreedToList();

            }
            else
            {
                dogImageURL = errorEmptySearchURL;
                dogType = "Search field is empty";
            }
        }
        catch(Exception e)
        {
            Console.WriteLine(e.StackTrace);
        }


    }

    private void AddDogBreedToList()
    {
        if (!seenDogbreeds.Contains(dogType))
        {

            seenDogbreeds.Insert(0, dogType);
        }
    }

}
