@page "/"

<h1>EAD1 CA3</h1>

<dl>
    <dt>Name</dt>
    <dd>- James Fleming</dd>
    <dt>Student Number</dt>
    <dd>- X00149830</dd>
    <dt>Api used</dt>
    <dd>- https://dog.ceo/dog-api/ </dd>
</dl>

<p> Go to the Dogs tab to use the page.</p>