@page "/randomDog"

<h1>Random Dog</h1>

<img src="@randomDogImageURL" alt="Dog" width="500" height="600">

<button class="btn btn-primary" @onclick="FetchRandomDogImage">Random Dog</button>

@code {
    private string randomDogImageURL;

    private void FetchRandomDogImage()
    {
        //Test image passing
        Console.WriteLine("https://www.101dogbreeds.com/wp-content/uploads/2019/09/Docker.jpg");
    }

}
